*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header{
    background-color: #1F62D4;    
    border-bottom-right-radius: 90%;
}
.header_img{
    margin-bottom: 40px;
    
}
.phone{
    margin-top: 80px;
}
.main{
    display: flex;
    margin: auto;
}

.info:hover{
    background-color: #1F62D4;  
    padding: 20px;
    margin: 1%; 
}

.child{
    padding: 20px;
    margin: 2%;
}

.img-text{
    width: 33.33%;
    padding: 20px;
}
.btn{
    background-color: #6FBD13;
    padding: 10px;    
    margin: 10px;
}
.section2{ 
    background-color: white;
    padding: 20px;
}
.simple{
    text-align: center;
    padding: 20px;

}
.box{
    border: 1px solid;
    padding: 20px;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.39);
    margin: 20px;
}


.section3{
    background-color: white;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}
.section4{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section5{ 
    
    background-color: white;
    padding: 50px;
}

.box2{
    border: 1px solid;
    width: 100%;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.39);
    display: flex;
    margin: auto;
}

.form {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    height: 350px;
}
  
.sub_box{
    background-color: #1F62D4;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;


}
.row1{
    margin: 20px;
}


.cont{
    margin: 20px;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.footer{
    background-color: #E4E4E4;
}
.swiper-wrapper p{

    width: 33.33%;  
}
.swiper-slide{
    border: 1px solid;
    padding: 20px;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.39);   
}
.drone{
    margin-top: -09%;
    margin-left: 82%;
}

